.section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.content_habilidades{
    display: flex;
    flex-direction: row;
    margin: 50px 0px 20px 20px;
    
}


.content_habilidades li{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.content_habilidades li:not(.selected):hover{
   opacity: .75;
}
.content_habilidades li img{
    width: 70%;
}
.content_habilidades li.selected{
    background-color: rgba(113, 113, 113, 0.50);
}

.content{
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--bg2);
    position: relative;
}

.name_hab{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.proj_left, .proj_right{
    height: 100%;
    width: 48%; 
    display: flex;
    /* flex-direction: column; */
    align-items: center;

}
.proj_left{
    border-right: 5px solid #525151;
    justify-content: flex-end;
}
.proj_right{
    border-left: 5px solid #525151;
    justify-content: flex-start;
}


.proj_left ul,
.proj_right ul{
    height: 100%;
    /* padding: 40px 0px; */
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    /* teste */
    
}

.proj_left ul{
    gap: 20px;
}
.proj_right ul{
    gap: 20px;
    padding-top: 50px;
}

.proj_left ul li, .proj_right ul li{
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    /* background-color: aqua; */
    transition: all 0.4s;
}
.proj_left ul li{
    justify-content: flex-end;
    
}
.proj_right ul li{
    justify-content: flex-start;
    
}


.content_infs{
    width: 60%;
    /* background-color: antiquewhite; */
}
.content_infs div{
    width: 100%;
    height: 10px;
    background-color: #525151;
}

.proj_left .proj_title{
    text-align: left;
    margin-left: 5px;
}
.proj_left .proj_data{
    text-align: right;
    margin-right: 10px;
}

.proj_right .proj_title{
    text-align: right;
    margin-right: 5px;
}
.proj_right .proj_data{
    /* background-color: aquamarine; */
    text-align: left;
    margin-left: 10px;
}

.proj_title{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.proj_data{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.proj_left ul li:hover .proj_img, .proj_right ul li:hover .proj_img{
    width: 50%;
}
.proj_img{
    width:40%;
    overflow: hidden;
    padding: 5px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(140, 201, 255); */
    background-color: var(--bg1);
    cursor: pointer;
    transition: all 0.4s;
}
.proj_img img{
    width: 100%;
}


.content_mobile{
    display: none;
}



/* Habilidades Mobile */
.content_mobile{
    padding-top: 15vh;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.proj_mobile{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: auto;

    padding: 4px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content_card_proj{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}
.mobile_img{
    width: 100%;
    height: 100%;
     /*background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
   
} 
.mobile_img img{
    width: 102%;
    /* opacity: 0.8; */
    /* width: 100%; */
    /* display: none; */
}
.mobile_text{
    z-index: 2;
    color: aliceblue;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.644);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;


}
.mobile_title{
    top: 7px;
    left: 12px;
    font-size: 1.4rem;
    z-index: 3;
}
.mobile_visitar{
    width: 100%;

   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.3rem;

}
.mobile_data{
    bottom: 7px;
    right: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media screen and (max-width: 1350px) {
    .content{
        min-height: 80vh;
    }
    .proj_left ul,
    .proj_right ul{
        margin-top: 20vh;
    }
}
@media screen and (max-width: 1000px) {
    .proj_left ul,
    .proj_right ul{
        margin-top: 20vh;
    }

    .proj_left ul li, .proj_right ul li{
        width: auto;
      
    }
}
@media screen and (max-width: 800px) {
    .proj_title{
        font-size: 15px;  
    }
    .proj_data{
        font-size: 13px;
    }

    .content_habilidades li{
        height: 70px;
        width: 70px;
    }
    .content_infs{
        width: 50%;
        /* background-color: antiquewhite; */
    }

    .proj_img{
        width:50%;
        padding: 3px;
        height: auto;

    }

    .proj_left ul li:hover .proj_img, .proj_right ul li:hover .proj_img{
        width: 60%;
    }
}
@media screen and (max-width: 700px) {
    .content_habilidades li{
        height: 60px;
        width: 60px;
    }
    .name_hab{
        font-size: 30px;
    }
    .proj_left, .proj_right{
       display: none;
    }
    .content_mobile{
        display: flex;
    }
   
}
/* @media screen and (max-width: 600px) {
    .content_habilidades li{
        height: 50px;
        width: 50px;
    }

    .content{
        height: auto;
    }
    .proj_left ul,
    .proj_right ul{
        margin-top: 20vh;
    }

    .proj_left ul{
        gap: 20px;
        padding-bottom: 50px;
    }
    .proj_right ul{
        gap: 20px;
        padding-top: 50px;
    }

} */