

.section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.content_habilidades{
    display: flex;
    flex-direction: row;
    margin: 50px 0px 20px 20px;
    gap: 15px;
    
}


.content_habilidades li{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}
.content_habilidades li:not(.selected):hover{
   opacity: .75;
}
.content_habilidades li img{
    width: 70%;
}
.content_habilidades li.selected{
    background-color: rgba(113, 113, 113, 0.50);
}

.content{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--bg2);
    position: relative;
    
}

.name_hab{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.proj_left, .proj_right{
    height: 100%;
    width: 48%; 
    display: flex;
    align-items: center;
    /* background-color: aqua; */

}
.proj_left{
    border-right: 5px solid #525151;
    justify-content: flex-end;
    /* background-color: aqua; */
}
.proj_right{
    border-left: 5px solid #525151;
    justify-content: flex-start;
}


.proj_left ul,
.proj_right ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 450px;
    /* background-color: antiquewhite; */
    
}

.proj_left ul{
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 50px;
}
.proj_right ul{
    align-items: flex-start;
    gap: 20px;
    padding-top: 50px;
}

@keyframes projs {
    0%{
        width: 60%;
    }
    100%{
        width: 100%;
    }
    
}
.animate{
    animation-name: projs;
    animation-duration: 1s;
}
.proj{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    /* background-color: rgb(255, 0, 0); */
    transition: all 0.4s;
   
}
.proj_left ul li{
    justify-content: flex-end;
    
}
.proj_right ul li{
    justify-content: flex-start;
    
}


.content_infs{
    width: 60%;
    /* background-color: antiquewhite; */
}
.content_infs div{
    width: 100%;
    height: 10px;
    background-color: #525151;
}

.proj_left .proj_title{
    text-align: left;
    margin-left: 5px;
}
.proj_left .proj_data{
    text-align: right;
    margin-right: 10px;
}

.proj_right .proj_title{
    text-align: right;
    margin-right: 5px;
}
.proj_right .proj_data{
    /* background-color: aquamarine; */
    text-align: left;
    margin-left: 10px;
}

.proj_title{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.proj_data{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.proj_left ul li:hover .content_desk_proj, .proj_right ul li:hover .content_desk_proj{
    width: 50%;
}
.content_desk_proj{
    border: solid 3px aliceblue;
    border-radius: 5px;
    width: 40%;
    /* background-color: aqua; */
    transition: all 0.4s;
}
.proj_img{
    width:100%;
    overflow: hidden;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(140, 201, 255); */
    background-color: var(--bg1);
    cursor: pointer;
    position: relative;
    border-radius: 5px;

}
.content_visitar{
    position: absolute;
    width: 100%;
    height: 100%;
}
.proj_img:hover .content_visitar a{
    opacity: 1;
}
.content_visitar a{
    background-color: rgba(8, 8, 8, 0.452);

    width: 100%;
    height: 100%;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    color: aliceblue;

    opacity: 0;
    transition: all 0.4s;
}

.proj_img img{
    width: 100%;
}

@keyframes projMobileLeft {
    0%{
        transform: translate(-50%);
        opacity: 0.5;
    }
    100%{
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes  projMobileRight {
    0%{
        transform: translate(50%);
        opacity: 0.5;
    }
    100%{
        transform: translate(0%);
        opacity: 1;
    }
}

.proj_mobile.left{
    animation-name: projMobileLeft;
    animation-duration: 1s;
}
.proj_mobile.right{
    animation-name: projMobileRight;
    animation-duration: 1s;
}
/* Habilidades Mobile */
.content_mobile{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 15vh;
}
.proj_mobile{
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: auto;

    padding: 4px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content_mobile_proj{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}
.mobile_img{
    width: 100%;
    height: 100%;
     /*background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
   
} 
.mobile_img img{
    width: 102%;
    /* opacity: 0.8; */
    /* width: 100%; */
    /* display: none; */
}
.mobile_text{
    z-index: 2;
    color: aliceblue;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.644);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;


}
.mobile_title{
    margin: 12px 0px 0px 12px;
    font-size: 1.4rem;
    z-index: 3;
}
.mobile_visitar{
    width: 100%;

   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    

}
.mobile_data{
    margin: 0px 7px 12px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1rem;
}

@media screen and (max-width: 1350px) {
    .content{
        height: 80vh;
        /* padding-top: 15vh; */
    }
    .proj_left, .proj_right{
        padding-top: 10vh;
    }
}
@media screen and (max-width: 1000px) {
    .proj_left ul, .proj_right ul{
        width: auto;
    }
}
@media screen and (max-width: 800px) {
    .proj_title{
        font-size: 15px;  
    }
    .proj_data{
        font-size: 13px;
    }
    .content_habilidades li{
        height: 70px;
        width: 70px;
    }
    .content_infs{
        width: 50%;
        /* background-color: antiquewhite; */
    }
    .proj_left ul li:hover .content_desk_proj, .proj_right ul li:hover .content_desk_proj{
        width: 60%;
    }
    .content_desk_proj{
        width: 50%;
    }
}
/* Reponsividade Mobile */
@media screen and (max-width: 700px) {
    .content_habilidades li{
        height: 60px;
        width: 60px;
    }
    .name_hab{
        font-size: 30px;
    }
    .proj_left, .proj_right{
       display: none;
    }
    .content_mobile{
        display: flex;
    }
    .content{
        height: auto;
    }
   
}
@media screen and (max-width: 600px) {
    .proj_mobile{
        width: 80%;
    }
    .content_habilidades{
        /* background-color: aqua; */
        width: 100%;
        margin-left: 0;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 550px) {
    .proj_mobile{
        width: 90%;
    }
}
@media screen and (max-width: 490px) {
    .content_habilidades li{
        width: 55px;
        height: 55px;
    }
}
@media screen and (max-width: 400px) {
    .content_habilidades li{
        width: 45px;
        height: 45px;
    }
    .mobile_title{
        font-size: 1.4rem;
    }
    .mobile_visitar{
        font-size: 1.8rem;

    }
    .mobile_data{
        font-size: 1rem;
    }
}
@media screen and (max-width: 350px) {
    .content_habilidades li{
        width: 40px;
        height: 40px;
    }
    .mobile_title{
        font-size: 1.2rem;
    }
    .mobile_visitar{
        font-size: 1.7rem;
    }
    .mobile_data{
        font-size: 1rem;
    }
   
}
@media screen and (max-width: 350px) {
    .content_habilidades li{
        width: 40px;
        height: 40px;
    }
    .mobile_title{
        font-size: 1rem;
    }
    .mobile_visitar{
        font-size: 1.5rem;
    }
    .mobile_data{
        font-size: 0.9rem;
    }
   
}