@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

@keyframes LoadingText {
    0%{
        transform: translate(-90%, -15%);
        opacity: 0.5;
    }
    100%{
        transform: translate(0%);
        opacity: 1;
    }
}
@keyframes LoadingImg {
    0%{
        transform: translate(-50%, -15%);
        opacity: 0.5;
    }
    100%{
        transform: translate(0%);
        opacity: 1;
    }
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
    min-height: 90vh;
    padding-bottom: 5vh;
    width: 100%;
    overflow: hidden;
    
}
.container{
    margin-top: 4vh;
    width: 85%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: aqua; */

   
   
}


.content_text{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    /* background-color: antiquewhite; */
    animation-name: LoadingText;
    animation-duration: 2.5s;
}
.content_text h1,
.content_text h2{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family:var(--font1) ;
    color: var(--color1);
}
.content_text h1{
    font-size: 5rem;
    white-space: nowrap;
}
.content_text h2{
    font-size: 6.1rem;
    white-space: nowrap;
    
}
.content_text p{
    font-family: var(--font1);
    color: var(--color1);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content_img{
    width: 500px;
    /* background-color: antiquewhite; */

    animation-name: LoadingImg;
    animation-duration: 3.3s;
}
.content_img img{
    width: 100%;
}


/* RESPONSIVIDADE */

@media screen and (max-width: 1150px){
    .content_text h1{
        font-size: 4.5rem;
    }
    .content_text h2{
        font-size: 5.5rem;
    }
    .content_text p{
        font-size: 17px;
    }
}
@media screen and (max-width: 975px){
    .content_text h1{
        font-size: 4rem;
    }
    .content_text h2{
        font-size: 5rem;
    }
    .content_text p{
        font-size: 16px;
    }
}
@media screen and (max-width: 875px){
    .content_text h1{
        font-size: 3.5rem;
    }
    .content_text h2{
        font-size: 4.3rem;
    }
    .content_text p{
        font-size: 16px;
    }
    .content_img{
        width: 350px;
        /* background-color: antiquewhite; */
    }
}
@media screen and (max-width: 800px){
 
    .content_img{
        width: 300px;
        /* background-color: antiquewhite; */
    }
}
@media screen and (max-width: 770px){
    .content_text h1{
        font-size: 3.5rem;
    }
    .content_text h2{
        font-size: 4.3rem;
    }
    .content_img{
        width: 40%;
        /* background-color: antiquewhite; */
    }
    .container{
        width: 95%;
    }
}
@media screen and (max-width: 700px){
    .content_text h1{
        font-size: 3rem;
    }
    .content_text h2{
        font-size: 3.7rem;
    }
    .content_text p{
        font-size: 15px;
    }
    .content_img{
        width: 40%;
        /* background-color: antiquewhite; */
    }
    .container{
        width: 95%;
    }
}

/* mobile */
@media screen and (max-width: 650px){
    .container{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 7vh;
        /* background-color: aqua; */
    }
    .content_text{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .content_img{
        margin-top: 2vh;
        width: 60%;
        /* background-color: antiquewhite; */
    }
    .content_text h1{
        font-size: 2.5rem;
        white-space: nowrap;
    }
    .content_text h2{
        font-size: 3.1rem;
        white-space: nowrap;
        
    }
     .content_text p{
        font-size: 17px; 
    }
}
@media screen and (max-width: 600px){
    .content_img{
        width: 70%;
        /* background-color: antiquewhite; */
    }
}
@media screen and (max-width: 530px){
    .content_img{
        width: 70%;
    }
}
@media screen and (max-width: 400px){
    .content_img{
        width: 90%;
    }
}

